* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    color: #333;
    flex-direction: column;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #0077cc;
    margin-bottom: 20px;
}

#converter {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}

#converter input, #converter select, #converter button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#converter button {
    background-color: #0077cc;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#converter button:hover {
    background-color: #005fa3;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    color: #0077cc;
    text-align: center;
}

canvas {
    margin-top: 30px;
    max-width: 100%;
    width: 80%; /* Ajusta el ancho según sea necesario */
    height: 300px; /* Ajusta la altura para hacerlo más pequeño */
}
